@{
    ViewData["Title"] = "Trang quản trị";
}
<h2>Trang quản trị hệ thống</h2>
<p>Chọn mục bạn muốn thực hiện ở menu bên trên.</p>
<a href="/Admin/OptimizeSchedule" class="btn btn-primary">Tối ưu lịch thi</a>
